/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
/* 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

main {
    min-height: 90vh;
    max-width: 1280px;
    margin: auto;
    padding: 15px;
} */ 

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Override default Tailwind font settings */
* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* Specify default weight or adjust as needed */
    font-style: normal;
}

main {
    min-height: 90vh;
    max-width: 1280px;
    margin: auto;
    padding: 15px;
}
